@using UniversityRating.Presentation.Models.Teacher
@using UniversityRating.Presentation.Models.University
@model UniversityRating.Presentation.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">

        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>Welcome to University Rating</h1>
    <h3>Choose the Best University</h3>
    <a class="btn btn-outline-light  btn-lg" asp-controller="University" asp-action="Index"> Get Start </a>
</div>

<div id="course" class="offset">
    <div class="col-12 narrow text-center">
        <h1> Effective feedback for learning in universities </h1>
        <p class="lead">
            Appreciates the university to give advice to new students
        </p>
        <a class="btn btn-secondary btn-md" asp-controller="Home" asp-action="Feedback"
           target="_blank">Feedback</a>

    </div>
</div>

<div id="features" class=offset>

    <div class="jumbotron">
        <div class="narrow text-center">
            <div class="col-12">
                <h3 class="heading">Features</h3>
                <div class="heading-underline"></div>
            </div>

            <div class="row text-center">

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-play-circle fa-4x" data-fa-transform="
							shrink-3 up-5"></i>
                        <h3>Marks</h3>
                        <p>
                            You can appreciate the teachers, the university and the courses
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-sliders-h fa-4x" data-fa-transform="
							shrink-4.5 up-4.5"></i>
                        <h3>Comments</h3>
                        <p>
                            You can add feedback on the teachers, the university and the courses
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fab fa-wpforms fa-4x" data-fa-transform="
							shrink-4 up-5"></i>
                        <h3>Ratings</h3>
                        <p>
                            based on these comments and grades you can see different ratings
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>


</div>

<div id="resources" class=offset>
    <div class="fixed-background">
        <div class="row dark text-center">

            <div class="col-12">
                <h3 class="heading">Top Universities</h3>
                <div class="heading-underline"></div>
            </div>
            @foreach (TopUniversityViewModel university in Model.TopUniversities)
            {
                <div class="col-md-4">
                    <h3>@($"{university.Name} ")</h3>
                    <div class="feature">
                        <i class="fas fa-bold fa-3x"></i>
                    </div>
                    <p class="lead">@($"{university.Description} ")</p>
                    <p class="lead">@($"Averange Mark : {university.AvgMark}")</p>
                </div>
            }


        </div>

        <div class="fixed-wrap">
            <div class="fixed">

            </div>
        </div>

    </div>

</div>

<div id="clients" class=offset>

    <div class="jumbotron">

        <div class="col-12">
            <h3 class="heading text-center">Top Teachers</h3>
            <div class="heading-underline"></div>
        </div>

        <div class="row">
            @foreach (TopTeacherViewModel teacher in Model.TopTeachers)
            {
                <div class="col-md-6 clients">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="img/teacher.png">
                        </div>
                        <div class="col-md-8">
                            <blockquote>
                                <i class="fas fa-quote-left"></i>
                                @($"{teacher.LastName} {teacher.FirstName}")
                                <hr class="clients-hr">
                                <cite> Averange Mark : @Math.Round(teacher.MarkAvg, 2)</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

    <div class="col-12 narrow text-center">
        <p class="lead">Learn more about university</p>
        <a class="btn btn-secondary btn-md" asp-controller="Home" asp-action="About"
           target="_blank">University Rating</a>
    </div>

</div>
