@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.Teacher
@using UniversityRating.Presentation.Models.University
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Universities";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List</h4>
                            <p class="category">choose your specialities</p>
                        </div>
                        <div class="content all-icons">
                            <div class="row">

                                @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                {
                                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <div class="font-icon-detail">
                                            <i class="pe-7s-album"></i>
                                            <input type="text" value="@($"{university.Name}")">
                                            <input type="text" value="@($"{university.Description}")">
                                            <input type="text" value="Contact : @($"{university.Contact}")">
                                            <input type="text" value="Age : @($"{university.Age}")">
                                            <input type="text" value="AvgMark : @($"{university.AverageMark}")">
                                        </div>

                                    </div>
                                }


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>