@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.University
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
                                <h2 class="title">Feedback on Universities</h2>
                                <p class="category">choose type comment to view feedback</p>
                                <br />

                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#commentUniversity">Comment University</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#commentTeacher">Comment Teacher</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#commentCourse">Comment Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#commentCourseTeacher">Comment Course Teacher</a>
                                    </li>
                                </ul>

                                <div class="tab-content">

                                    <div class="container tab-pane active" id="commentUniversity">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">

                                            <form id="addCommentUniversity">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select id="university" class="form-control" style="width: 150px">
                                                           @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Add Comment</p>
                                                        <button type="submit" class="btn btn-success" style="margin-bottom: 10px">
                                                            <i class="fa fa-plus-square" aria-hidden="true"></i>Add Comment
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group shadow-textarea">
                                                                <textarea class="form-control z-depth-1" id="subjectCommentUniversity" rows="1" placeholder="Write subject here..."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea3">Comment</label>
                                                                <textarea class="form-control" id="messageCommentUniversity" rows="7"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        @* --------------------------------------------------------------- *@
                                        <ul class="media-list">
                                            @foreach (var comment in Model.CommentUniversityViewModels)
                                            {
                                                <li class="media">
                                                    <a class="pull-left" style="padding-top: 25px">
                                                        <i class="fas fa-user" style="zoom: 800%"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <h4 class="media-heading">
                                                               @if (User.Identity.IsAuthenticated)
                                                                {
                                                                    @User.Identity.Name
                                                                }
                                                            </h4>
                                                            <p> Subject: @comment.Subject</p>
                                                            <p> Message: @comment.Message</p>

                                                            <form asp-action="DeleteComment" asp-route-id="@comment.Id" data-ajax="true">
                                                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                                    <span class="glyphicon glyphicon-erase"></span>Delete
                                                                </button>
                                                                
                                                                <a class="btn btn-sm btn-primary d-none d-md-inline-block" onclick="PopupForm('@Url.Action("EditComment","Comment", new {id = comment.Id, UserId = comment.UserId})')">
                                                                    <span class="glyphicon glyphicon-pencil"></span>Modify
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </li>
                                            }
                                        </ul>

                                        @* ----------------------------------------------- *@
                                    </div>

                                    <div class="container tab-pane fade" id="commentTeacher">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentTeacher">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select id="universityTeacher" class="form-control" style="width: 150px">
                                                            <option value="0">No University</option>
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Chose Teacher</p>
                                                        <select id="teacherComment" class="form-control" style="width: 150px"></select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Add Comment</p>
                                                        <button type="submit" class="btn btn-success" style="margin-bottom: 10px">
                                                            <i class="fa fa-plus-square" aria-hidden="true"></i>Add Comment
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group shadow-textarea">
                                                                <textarea class="form-control z-depth-1" id="subjectCommentTeacher" rows="1" placeholder="Write subject here..."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea3">Comment</label>
                                                                <textarea class="form-control" id="messageCommentTeacher" rows="7"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        @* --------------------------------------------------------------- *@

                                        <ul class="media-list">
                                            @foreach (var comment in Model.CommentTeacherViewModels)
                                            {
                                                <li class="media">
                                                    <a class="pull-left" style="padding-top: 25px">
                                                        <i class="fas fa-user" style="zoom: 800%"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <h4 class="media-heading">
                                                                @if (User.Identity.IsAuthenticated)
                                                                {
                                                                    @User.Identity.Name
                                                                }
                                                            </h4>
                                                            <p> Subject: @comment.Subject</p>
                                                            <p> Message: @comment.Message</p>

                                                            <form asp-action="DeleteComment" asp-route-id="@comment.Id" data-ajax="true">

                                                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                                    <span class="glyphicon glyphicon-erase"></span>Delete
                                                                </button>

                                                                <a class="btn btn-sm btn-primary d-none d-md-inline-block" onclick="PopupForm('@Url.Action("EditComment","Comment", new {id = comment.Id, UserId = comment.UserId})')">
                                                                    <span class="glyphicon glyphicon-pencil"></span>Modify
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </li>
                                            }
                                        </ul>

                                        @* ----------------------------------------------- *@
                                    </div>

                                    <div id="commentCourse" class="container tab-pane fade">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentCourse">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select class="form-control" style="width: 150px" id="universityCourse">
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Chose Course</p>
                                                        <select class="form-control" style="width: 150px" id="course"></select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Add comment</p>
                                                        <button type="submit" class="btn btn-success" style="margin-bottom: 10px">
                                                            <i class="fa fa-plus-square" aria-hidden="true"></i>Add Comment
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group shadow-textarea">
                                                                <textarea class="form-control z-depth-1" id="subjectCommentCourse" rows="1" placeholder="Write subject here..."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea3">Comment</label>
                                                                <textarea class="form-control" id="messageCommentCourse" rows="7"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        @* --------------------------------------------------------------- *@

                                        <ul class="media-list">
                                            @foreach (var comment in Model.CommentCourseViewModels)
                                            {
                                                <li class="media">
                                                    <a class="pull-left" style="padding-top: 25px">
                                                        <i class="fas fa-user" style="zoom: 800%"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <h4 class="media-heading">
                                                                @if (User.Identity.IsAuthenticated)
                                                                {
                                                                    @User.Identity.Name
                                                                }
                                                            </h4>
                                                            <p> Subject: @comment.Subject</p>
                                                            <p> Message: @comment.Message</p>

                                                            <form asp-action="DeleteComment" asp-route-id="@comment.Id" data-ajax="true">
                                                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                                    <span class="glyphicon glyphicon-erase"></span>Delete
                                                                </button>

                                                                <a class="btn btn-sm btn-primary d-none d-md-inline-block" onclick="PopupForm('@Url.Action("EditComment","Comment", new {id = comment.Id, UserId = comment.UserId})')">
                                                                    <span class="glyphicon glyphicon-pencil"></span>Modify
                                                                </a>
                                                            </form>

                                                        </div>
                                                    </div>

                                                </li>
                                            }
                                        </ul>

                                        @* ----------------------------------------------- *@
                                    </div>

                                    <div id="commentCourseTeacher" class="container tab-pane fade">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentCourseTeacher">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select class="form-control" style="width: 150px" id="universityCommentCourseTeacher">
                                                            <option value="0">No University</option>
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Chose Teacher</p>
                                                        <select class="form-control" style="width: 150px" id="teacherCommentCourseTeacher"></select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Chose Course</p>
                                                        <select class="form-control" style="width: 150px" id="courseCommentCourseTeacher"></select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <p>Add Comment</p>
                                                        <button type="submit" class="btn btn-success" style="margin-bottom: 10px">
                                                            <i class="fa fa-plus-square" aria-hidden="true"></i>Add Comment
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group shadow-textarea">
                                                                <textarea class="form-control z-depth-1" id="subjectCommentCourseTeacher" rows="1" placeholder="Write subject here..."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea3">Comment</label>
                                                                <textarea class="form-control" id="messageCommentCourseTeacher" rows="7"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        @* --------------------------------------------------------------- *@

                                        <ul class="media-list">
                                            @foreach (var comment in Model.CommentCourseTeacherViewModels)
                                            {
                                                <li class="media">
                                                    <a class="pull-left" style="padding-top: 25px">
                                                        <i class="fas fa-user" style="zoom: 800%"></i>
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <h4 class="media-heading">
                                                               @if (User.Identity.IsAuthenticated)
                                                                {
                                                                    @User.Identity.Name
                                                                }
                                                            </h4>
                                                            <p> Subject: @comment.Subject</p>
                                                            <p> Message: @comment.Message</p>

                                                            <form asp-action="DeleteComment" asp-route-id="@comment.Id" data-ajax="true">
                                                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                                    <span class="glyphicon glyphicon-erase"></span>Delete
                                                                </button>

                                                                <a class="btn btn-sm btn-primary d-none d-md-inline-block" onclick="PopupForm('@Url.Action("EditComment","Comment", new {id = comment.Id, UserId = comment.UserId})')">
                                                                    <span class="glyphicon glyphicon-pencil"></span>Modify
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </li>
                                            }
                                        </ul>

                                        @* ----------------------------------------------- *@
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var Popup;
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function(response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Edit Your Comment',
                        height: 400,
                        width: 700,
                        close: function() {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#addCommentUniversity").on("submit",
                function () {
                    $.ajax({
                        url: "/Comment/AddCommentUniversity",
                        type: "POST",
                        data: ({
                            UniversityId: $('#university').val(),
                            Subject: $('#subjectCommentUniversity').val(),
                            Message: $('#messageCommentUniversity').val()
                        }),
                        success: function (data) {
                            alert(data);
                        }
                    });
                });


        });
    </script>

    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/Mark/TeachersByUniversityId",
                type: "GET",
                data: ({ universityId: $('#universityTeacher').val() }),
                success: function (data) {

                    $('#teacherComment').empty(),
                        $.each(data,
                            function (i, item) {
                                $('#teacherComment').append
                                    (
                                    "<option value=\"" +
                                    item.Id +
                                    "\">" +
                                    item.FirstName +
                                    " " +
                                    item.LastName +
                                    "</option>"
                                    );
                            });
                }
            });

            $("#universityTeacher").bind("change",
                function () {
                    $.ajax({
                        url: "/Mark/TeachersByUniversityId",
                        type: "GET",
                        data: ({ universityId: $('#universityTeacher').val() }),
                        success: function (data) {

                            $('#teacherComment').empty(),
                                $.each(data,
                                    function (i, item) {
                                        $('#teacherComment').append
                                            (
                                            "<option title=\"" +
                                            item.AverageMarks +
                                            "\" value=\"" +
                                            item.Id +
                                            "\">" +
                                            item.FirstName +
                                            " " +
                                            item.LastName +
                                            "</option>"
                                            );
                                    });
                        }
                    });
                });

            $("#addCommentTeacher").on("submit",
                function () {
                    $.ajax({
                        url: "/Comment/AddCommentTeacher",
                        type: "POST",
                        data: ({
                            UniversityId: $('#universityTeacher').val(),
                            TeacherId: $('#teacherComment').val(),
                            Subject: $('#subjectCommentTeacher').val(),
                            Message: $('#messageCommentTeacher').val()

                        }),
                        success: function (data) {
                            alert(data);
                        }
                    });
                });


        });
    </script>


    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/Mark/CoursesByUniversityId",
                type: "GET",
                data: ({ universityId: $('#universityCourse').val() }),
                success: function (data) {

                    $('#course').empty(),
                        $.each(data,
                            function (i, item) {
                                $('#course').append
                                    (

                                    "<option value=\"" + item.Id + "\">" + item.Name + "</option>"

                                    );
                            });
                }
            });

            $("#universityCourse").bind("change",
                function () {
                    $.ajax({
                        url: "/Mark/CoursesByUniversityId",
                        type: "GET",
                        data: ({ universityId: $('#universityCourse').val() }),
                        success: function (data) {

                            $('#course').empty(),
                                $.each(data,
                                    function (i, item) {
                                        $('#course').append
                                            (

                                            "<option value=\"" + item.Id + "\">" + item.Description + "</option>"

                                            );
                                    });
                        }
                    });
                });

            $("#addCommentCourse").on("submit",
                function () {
                    $.ajax({
                        url: "/Comment/AddCommentCourse",
                        type: "POST",
                        data: ({
                            UniversityId: $('#universityCourse').val(),
                            CourseId: $('#course').val(),
                            Subject: $('#subjectCommentCourse').val(),
                            Message: $('#messageCommentCourse').val()

                        }),
                        success: function (data) {

                            alert(data);
                        }
                    });
                });
        });
    </script>

    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/Mark/TeachersByUniversityId",
                type: "GET",
                data: ({ universityId: $('#universityCommentCourseTeacher').val() }),
                success: function (data) {

                    $('#teacherCommentCourseTeacher').empty(),

                        $.each(data,
                            function (i, item) {
                                $('#teacherCommentCourseTeacher').append
                                    (

                                    "<option title=\"" + item.AverageMarks + "\" value=\"" + item.Id + "\">" + item.FirstName + " " + item.LastName + "</option>"

                                    );
                            });

                }
            });

            $("#universityCommentCourseTeacher").bind("change",
                function () {
                    $.ajax({
                        url: "/Mark/TeachersByUniversityId",
                        type: "GET",
                        data: ({ universityId: $('#universityCommentCourseTeacher').val() }),
                        success: function (data) {

                            $('#teacherCommentCourseTeacher').empty(),
                                $('#courseCommentCourseTeacher').empty(),


                                $.each(data,
                                    function (i, item) {
                                        $('#teacherCommentCourseTeacher').append
                                            (

                                            "<option title=\"" + item.AverageMarks + "\" value=\"" + item.Id + "\">" + item.FirstName + " " + item.LastName + "</option>"

                                            );
                                    });

                            $.ajax({
                                url: "/Mark/CoursesByTeacherId",
                                type: "GET",
                                data: ({ teacherId: $('#teacherCommentCourseTeacher').val() }),
                                success: function (data) {

                                    $.each(data,
                                        function (i, item) {
                                            $('#courseCommentCourseTeacher').append
                                                (
                                                "<option value=\"" + item.Id + "\">" + item.Name + "</option>"
                                                );
                                        });
                                }
                            });
                        }
                    });
                });


            $("#teacherCommentCourseTeacher").bind("change",
                function () {
                    $.ajax({
                        url: "/Mark/CoursesByTeacherId",
                        type: "GET",
                        data: ({ teacherId: $('#teacherCommentCourseTeacher').val() }),
                        success: function (data) {

                            $('#courseCommentCourseTeacher').empty(),
                                $.each(data,
                                    function (i, item) {
                                        $('#courseCommentCourseTeacher').append
                                            (
                                            "<option value=\"" + item.Id + "\">" + item.Description + "</option>"
                                            );
                                    });
                        }
                    });
                });

            $("#addCommentCourseTeacher").on("submit",
                function () {
                    $.ajax({
                        url: "/Comment/AddCommentCourseTeacher",
                        type: "POST",
                        data: ({
                            UniversityId: $('#universityCommentCourseTeacher').val(),
                            CourseId: $('#courseCommentCourseTeacher').val(),
                            TeacherId: $('#teacherCommentCourseTeacher').val(),
                            Subject: $('#subjectCommentCourseTeacher').val(),
                            Message: $('#messageCommentCourseTeacher').val()
                        }),
                        success: function (data) {
                            alert(data);
                        }

                    });
                });

        });
    </script>
}