
@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.University
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Feedback";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">
    <div class="content">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2 class="title">Feedback on Universities</h2>
                                <p class="category">choose type comment to view feedback</p>
                                <br />

                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#commentUniversity">Comment University</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#commentTeacher">Comment Teacher</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#commentCourse">Comment Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#commentCourseTeacher">Comment Course Teacher</a>
                                    </li>
                                </ul>

                                <div class="tab-content">

                                    <div class="container tab-pane active" id="commentUniversity">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentUniversity">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select id="universityComment" class="form-control" style="width: 150px">
                                                            <option value="0">All</option>
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5>All Feedback on Universities</h5>

                                                        <button type="button" class="btn btn-success" style="margin-bottom: 10px">
                                                            View All
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <ul class="media-list" id="listUniversityComment">
                                            @await Html.PartialAsync("_ViewListComment", Model.CommentUniversity)
                                        </ul>
                                        <div class="col-md-10">
                                            <a class="btn btn-success" id="moreUniversityComment" style="margin-bottom: 10px" data-page-number="1">
                                                <i class="fa fa-plus"></i> Show More Teachers
                                            </a>
                                        </div>
                                    </div>

                                    <div class="container tab-pane fade" id="commentTeacher">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentTeacher">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select id="universityTeacher" class="form-control" style="width: 150px">
                                                            <option value="0">No University</option>
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Chose Teacher</p>
                                                        <select id="teacherComment" class="form-control" style="width: 150px"></select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5>All Feedback on Universities</h5>

                                                        <button type="button" class="btn btn-success" style="margin-bottom: 10px">
                                                            View All
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <ul class="media-list" id="listTeacherComment">
                                            @await Html.PartialAsync("_ViewListComment", Model.CommentTeacher)
                                        </ul>
                                        <div class="col-md-10">
                                            <a class="btn btn-success" id="moreTeacherComment" style="margin-bottom: 10px" data-page-number="1">
                                                <i class="fa fa-plus"></i> Show More Teacher Comment
                                            </a>
                                        </div>
                                    </div>

                                    <div id="commentCourse" class="container tab-pane fade">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentCourse">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select class="form-control" style="width: 150px" id="universityCourse">
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Chose Course</p>
                                                        <select class="form-control" style="width: 150px" id="course"></select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5>All Feedback on Universities</h5>

                                                        <button type="button" class="btn btn-success" style="margin-bottom: 10px">
                                                            View All
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <ul class="media-list" id="listCourseComment">
                                            @await Html.PartialAsync("_ViewListComment", Model.CommentCourse)
                                        </ul>
                                        <div class="col-md-10">
                                            <a class="btn btn-success" id="moreCourseComment" style="margin-bottom: 10px" data-page-number="1">
                                                <i class="fa fa-plus"></i> Show More Course Comment
                                            </a>
                                        </div>
                                    </div>


                                    <div id="commentCourseTeacher" class="container tab-pane fade">
                                        <div class="row" style="padding-top: 50px; padding-bottom: 50px">
                                            <form id="addCommentCourseTeacher">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <p>Chose University</p>
                                                        <select class="form-control" style="width: 150px" id="universityCommentCourseTeacher">
                                                            <option value="0">No University</option>
                                                            @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                                            {
                                                                <option title="@university.Description" value="@university.Id">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Chose Teacher</p>
                                                        <select class="form-control" style="width: 150px" id="teacherCommentCourseTeacher"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>Chose Course</p>
                                                        <select class="form-control" style="width: 150px" id="courseCommentCourseTeacher"></select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5>All Feedback on Universities</h5>
                                                        <button type="button" class="btn btn-success" style="margin-bottom: 10px">
                                                            View All
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <ul class="media-list" id="listCourseTeacherComment">
                                            @await Html.PartialAsync("_ViewListComment", Model.CommentCourseTeachers)
                                        </ul>
                                        <div class="col-md-10">
                                            <a class="btn btn-success" id="moreCourseTeacherComment" style="margin-bottom: 10px" data-page-number="1">
                                                <i class="fa fa-plus"></i> Show More Course Comment
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $(function () {
        $("#universityComment").bind("change", function() {
            pageNumber = 1;
            var url = '@Url.Action("UniversityComments")' +
                '?pageNumber=' + pageNumber +
                '&universityId=' + $("#universityComment").val() +
                '&skipRecords=' + false;
            $('#listUniversityComment').empty();
            $.get(url,
                function(response) {
                    $("#listUniversityComment").html($(response));
                });
        });

        $("#moreUniversityComment").click(function () {
            pageNumber ++;
            var url = '@Url.Action("UniversityComments")' +
                '?pageNumber=' + pageNumber +
                '&universityId=' + $("#universityComment").val() +
                '&skipRecords=' + false;

            $.get(url,
                function(response) {
                    $("#listUniversityComment").append($(response));
                });
        });
    });
    </script>

    <script>
        $(function () {
            var pageNumber = 1;
            $.ajax({
                url: "/Mark/TeachersByUniversityId",
                type: "GET",
                data: ({ universityId: $('#universityTeacher').val() }),
                success: function (data) {

                    $('#teacherComment').empty(),
                        $.each(data,
                            function (i, item) {
                                $('#teacherComment').append
                                (
                                    "<option value=\"" +
                                    item.Id +
                                    "\">" +
                                    item.FirstName +
                                    " " +
                                    item.LastName +
                                    "</option>"
                                );
                            });
                }
            });

            $("#universityTeacher").bind("change",
                function () {
                    $.ajax({
                        url: "/Mark/TeachersByUniversityId",
                        type: "GET",
                        data: ({ universityId: $('#universityTeacher').val() }),
                        success: function (data) {

                            $('#teacherComment').empty(),
                                $.each(data,
                                    function (i, item) {
                                        $('#teacherComment').append
                                        (
                                            "<option title=\"" +
                                            item.AverageMarks +
                                            "\" value=\"" +
                                            item.Id +
                                            "\">" +
                                            item.FirstName +
                                            " " +
                                            item.LastName +
                                            "</option>"
                                        );
                                    });
                        }
                    });
                });
            $("#teacherComment").bind("change", function() {
                pageNumber = 1;
                var url = '@Url.Action("TeacherComment")' +
                    '?pageNumber=' + pageNumber +
                    '&teacherId=' + $("#teacherComment").val() +
                    '&skipRecords=' + false;
                $('#listTeacherComment').empty();
                $.get(url,
                    function(response) {
                        $("#listTeacherComment").html($(response));
                    });
            });

            $("#moreTeacherComment").click(function () {
                pageNumber ++;
                var url = '@Url.Action("UniversityComments")' +
                    '?pageNumber=' + pageNumber +
                    '&universityId=' + $("#teacherComment").val() +
                    '&skipRecords=' + false;

                $.get(url,
                    function(response) {
                        $("#listTeacherComment").append($(response));
                    });
            });
        });

    </script>

    <script>
        var pageNumber = 1;
        $.ajax({
            url: "/Mark/CoursesByUniversityId",
            type: "GET",
            data: ({ universityId: $('#universityCourse').val() }),
            success: function (data) {

                $('#course').empty(),
                    $.each(data,
                        function (i, item) {
                            $('#course').append
                            (

                                "<option value=\"" + item.Id + "\">" + item.Name + "</option>"

                            );
                        });
            }
        });

        $("#universityCourse").bind("change",
            function () {
                $.ajax({
                    url: "/Mark/CoursesByUniversityId",
                    type: "GET",
                    data: ({ universityId: $('#universityCourse').val() }),
                    success: function (data) {

                        $('#course').empty(),
                            $.each(data,
                                function (i, item) {
                                    $('#course').append
                                    (

                                        "<option value=\"" + item.Id + "\">" + item.Description + "</option>"

                                    );
                                });
                    }
                });
            });

        $("#course").bind("change", function() {
            pageNumber = 1;
            var url = '@Url.Action("CourseComment")' +
                '?pageNumber=' + pageNumber +
                '&courseId=' + $("#course").val() +
                '&skipRecords=' + false;
            $('#listCourseComment').empty();
            $.get(url,
                function(response) {
                    $("#listCourseComment").html($(response));
                });
        });

        $("#moreCourseComment").click(function () {
            pageNumber ++;
            var url = '@Url.Action("CourseComment")' +
                '?pageNumber=' + pageNumber +
                '&courseId=' + $("#course").val() +
                '&skipRecords=' + false;

            $.get(url,
                function(response) {
                    $("#listCourseComment").append($(response));
                });
        });
    </script>

    <script>
        $.ajax({
            url: "/Mark/TeachersByUniversityId",
            type: "GET",
            data: ({ universityId: $('#universityCommentCourseTeacher').val() }),
            success: function (data) {

                $('#teacherCommentCourseTeacher').empty(),

                    $.each(data,
                        function (i, item) {
                            $('#teacherCommentCourseTeacher').append
                                (

                                "<option title=\"" + item.AverageMarks + "\" value=\"" + item.Id + "\">" + item.FirstName + " " + item.LastName + "</option>"

                                );
                        });

            }
        });

        $("#universityCommentCourseTeacher").bind("change",
            function () {
                $.ajax({
                    url: "/Mark/TeachersByUniversityId",
                    type: "GET",
                    data: ({ universityId: $('#universityCommentCourseTeacher').val() }),
                    success: function (data) {

                        $('#teacherCommentCourseTeacher').empty(),
                            $('#courseCommentCourseTeacher').empty(),


                            $.each(data,
                                function (i, item) {
                                    $('#teacherCommentCourseTeacher').append
                                        (

                                        "<option title=\"" + item.AverageMarks + "\" value=\"" + item.Id + "\">" + item.FirstName + " " + item.LastName + "</option>"

                                        );
                                });

                        $.ajax({
                            url: "/Mark/CoursesByTeacherId",
                            type: "GET",
                            data: ({ teacherId: $('#teacherCommentCourseTeacher').val() }),
                            success: function (data) {

                                $.each(data,
                                    function (i, item) {
                                        $('#courseCommentCourseTeacher').append
                                            (
                                            "<option value=\"" + item.Id + "\">" + item.Description + "</option>"
                                            );
                                    });
                            }
                        });
                    }
                });
            });


        $("#teacherCommentCourseTeacher").bind("change",
            function () {
                $.ajax({
                    url: "/Mark/CoursesByTeacherId",
                    type: "GET",
                    data: ({ teacherId: $('#teacherCommentCourseTeacher').val() }),
                    success: function (data) {

                        $('#courseCommentCourseTeacher').empty(),
                            $.each(data,
                                function (i, item) {
                                    $('#courseCommentCourseTeacher').append
                                        (
                                        "<option value=\"" + item.Id + "\">" + item.Description + "</option>"
                                        );
                                });
                    }
                });
            });

        $("#courseCommentCourseTeacher").bind("change", function() {
            pageNumber = 1;
            var url = '@Url.Action("CourseTeacherComment")' +
                '?pageNumber=' + pageNumber +
                '&courseId=' + $("#courseCommentCourseTeacher").val() +
                '&teacherId=' + $("#teacherCommentCourseTeacher").val() +
                '&skipRecords=' + false;
            $('#listCourseTeacherComment').empty();
            $.get(url,
                function(response) {
                    $("#listCourseTeacherComment").html($(response));
                });
        });

        $("#moreCourseTeacherComment").click(function () {
            pageNumber ++;
            var url = '@Url.Action("CourseTeacherComment")' +
                '?pageNumber=' + pageNumber +
                '&courseId=' + $("#courseCommentCourseTeacher").val() +
                '&teacherId=' + $("#teacherCommentCourseTeacher").val() +
                '&skipRecords=' + false;

            $.get(url,
                function(response) {
                    $("#listCourseTeacherComment").append($(response));
                });
        });
    </script>


}