@using UniversityRating.Presentation.Models.Teacher
@model List<UniversityRating.Presentation.Models.Teacher.TeacherShowViewModel>

@foreach (TeacherShowViewModel teacher in Model)
{
    <tr>
        <td>@($"{teacher.Id}")</td>
        <td>@($"{teacher.FirstName} {teacher.LastName}")</td>
        <td>@($"{@Math.Round(teacher.AverageMarks, 2)}")</td>
        <td>@($"{teacher.Email}")</td>
        <td>@($"{teacher.TypeTeacher}")</td>
        <td>
            @foreach (string university in teacher.Universities)
            {
                @($"{university} ")
            }
        </td>
    </tr>
}