@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.Teacher
@using UniversityRating.Presentation.Models.University
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Teachers";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@

<div class="main-panel">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Teachers</h4>
                            <p class="category">Teachers of university in Moldova</p>

                            <select name="Universities" class="form-control" id="university" style="width: 240px">
                                <option value="0">All Teacher</option>
                               @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                {
                                    <option title="@university.Description" value="@university.Id">@university.Name</option>
                                }
                            </select>

                        </div>

                        <div class="content table-responsive table-full-width" id="teachers">

                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Average Mark</th>
                                        <th>Email</th>
                                        <th>Type Teacher</th>
                                        <th>University</th>
                                    </tr>
                                </thead>
                                <tbody id="resultsTable">
                                    @foreach (TeacherShowViewModel teacher in Model.TeacherShows)
                                    {
                                        <tr>
                                            <td>@($"{teacher.Id}")</td>
                                            <td>@($"{teacher.FirstName} {teacher.LastName}")</td>
                                            <td>@($"{teacher.AverageMarks}")</td>
                                            <td>@($"{teacher.Email}")</td>
                                            <td>@($"{teacher.TypeTeacher}")</td>
                                            <td>
                                                @foreach (string university in teacher.Universities)
                                                {
                                                    @($"{university} ")
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                        <div>
                            <a class="btn btn-success" id="moreTeachers" style="margin-bottom: 10px">
                                <i class="fa fa-plus"></i> Show More Teachers
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function() {
            var pageNumber = 1;

            $("#moreTeachers").click(function() {

                pageNumber++;

                $.ajax({
                    url: "/Teacher/TeachersByUniversityId",
                    type: "GET",
                    data: ({ universityId: $('#university').val(), page: pageNumber }),
                    success: function(data) {

                        $.each(data,
                            function(i, item) {
                                $('#resultsTable').append
                                (
                                    "<tr>" +
                                    "<td>" +
                                    item.Id +
                                    "</td>" +
                                    "<td>" +
                                    item.FirstName +
                                    item.LastName +
                                    "</td>" +
                                    "<td>" +
                                    item.AverageMarks +
                                    "</td>" +
                                    "<td>" +
                                    item.Email +
                                    "</td>" +
                                    "<td>" +
                                    item.TypeTeacher +
                                    "</td>" +
                                    "<td>" +
                                    $.each(item.Universities, function(index, value) { value }) +
                                    "</td>" +
                                    "</tr>"
                                );
                            });
                    }
                });
            });

            $("#university").bind("change",
                function() {

                    pageNumber = 1;


                    $.ajax({
                        url: "/Home/TeachersByUniversityId",
                        type: "GET",
                        data: ({ universityId: $('#university').val(), page: pageNumber }),
                        success: function(data) {

                            if (data.length < 4) {
                                $("#moreTeachers").hide();
                            }

                            if (data.length > 4)
                            {
                                $("#moreTeachers").show();
                            }

                            $('#resultsTable').empty(),
                                $.each(data,
                                    function(i, item) {
                                        $('#resultsTable').append
                                        (
                                            "<tr>" +
                                            "<td>" +
                                            item.Id +
                                            "</td>" +
                                            "<td>" +
                                            item.FirstName +
                                            item.LastName +
                                            "</td>" +
                                            "<td>" +
                                            item.AverageMarks +
                                            "</td>" +
                                            "<td>" +
                                            item.Email +
                                            "</td>" +
                                            "<td>" +
                                            item.TypeTeacher +
                                            "</td>" +
                                            "<td>" +
                                            $.each(item.Universities, function(index, value) { value }) +
                                            "</td>" +
                                            "</tr>"
                                        );
                                    });
                        }
                    });
                });
        });
    </script>

}