@using Microsoft.AspNetCore.Identity
@using UniversityRating.Data.Core.DomainModels.Identity
@using UniversityRating.Presentation.Models.Teacher
@using UniversityRating.Presentation.Models.University
@model UniversityRating.Presentation.Models.Home.IndexViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Teachers";
    Layout = "/Views/Shared/_LayoutDashboard.cshtml";

}

<div class="main-panel">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Teachers</h4>
                            <p class="category">Teachers of university in Moldova</p>

                            <div class="row">
                                <div class="col-md-10">
                                    <select name="Universities" class="form-control" id="university" style="width: 240px">
                                        <option value="0">All Teacher</option>
                                       @foreach (UniversityShowViewModel university in Model.UniversityShowViewModels)
                                        {
                                            <option title="@university.Description" value="@university.Id">@university.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-2 ">
                                        <input class="form-control" style="width: 150px" type="text" placeholder="search" id="search" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content table-responsive table-full-width" id="teachers">

                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Average Mark</th>
                                        <th>Email</th>
                                        <th>Type Teacher</th>
                                        <th>University</th>
                                    </tr>
                                </thead>
                                <tbody id="resultsTable">
                                    @await Html.PartialAsync("_TeacherTableRecords", Model.TeacherShowViewModels)
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <a class="btn btn-success" id="moreTeachers" style="margin-bottom: 10px" data-page-number="1">
                                    <i class="fa fa-plus"></i> Show More Teachers
                                </a>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" style="width: 100px" id="numberOfRecordsPerPage">
                                    <option value="5"> 5 </option>
                                    <option value="10"> 10 </option>
                                    <option value="20"> 20 </option>
                                    <option value="30"> 50 </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var pageNumber = 1;
        $(function () {
            $("#search").bind("change", function () {
                pageNumber = 1;
                var url = '@Url.Action("TeachersByUniversityId")' +
                    '?universityId=' + $('#university').val() +
                    '&pageNumber=' + pageNumber +
                    '&search=' + $('#search').val() +
                    '&numberOfRecordsPerPage=' + $('#numberOfRecordsPerPage').val();
                $("#resultsTable").empty();
                $.get(url,
                    function(response) {
                        $("#resultsTable").append($(response));
                    });
            });

            $("#university").bind("change", function () {
                pageNumber = 1;

                var url = '@Url.Action("TeachersByUniversityId")' +
                    '?universityId=' + $('#university').val() +
                    '&pageNumber=' + pageNumber +
                    '&search=' + $('#search').val() +
                    '&numberOfRecordsPerPage=' + $('#numberOfRecordsPerPage').val();
                $("#resultsTable").empty();
                $.get(url,
                    function(response) {
                        $("#resultsTable").append($(response));
                    });
            });

            $("#moreTeachers").click(function () {
                pageNumber ++;

                var url = '@Url.Action("TeachersByUniversityId")' +
                    '?universityId=' + $('#university').val() +
                    '&pageNumber=' + pageNumber +
                    '&search=' + $('#search').val() +
                    '&numberOfRecordsPerPage=' + $('#numberOfRecordsPerPage').val();

                $.get(url,
                    function(response) {
                        $("#resultsTable").append($(response));
                    });
            });
        });
    </script>
}